<div style="padding: 20px">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <div>
            <label for="name-control">First Name</label>
            <input id="name-control" type="text" formControlName="firstName" class="form-control"/>

            <div *ngIf="submitted && registerForm.controls?.['firstName']?.['errors']" class="invalid-feedback">
                <div *ngIf="registerForm.controls?.['firstName']?.['errors']?.['required']">First Name is required</div>
            </div>
        </div>
        <div>
            <label for="email-control">Email</label>
            <input id="email-control" type="text" formControlName="email" class="form-control"/>

            <div *ngIf="submitted && registerForm.controls?.['email']?.['errors']" class="invalid-feedback">
                <div *ngIf="registerForm.controls?.['email']?.['errors']?.['required']">Email is required</div>
                <div *ngIf="registerForm.controls?.['email']?.['errors']?.['email']">Email must be a valid email
                    address
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary mr-1">Submit</button>
        </div>
    </form>
</div>
